body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .view {
    display: none;
  }

  .view.active {
    display: block;
  }

  .botton-menu {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }

  .botton-menu:hover {
    background-color: #0056b3;
  }

  .hidden {
    display: none !important;
  }

  .formularios {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form {
    display: none;
  }

  .form.Inicio {
    display: block;
  }

  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  button {
    width: 80%;
    padding: 10px;
    align-items: center;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #4cae4c;
  }

  .elige {
    margin: 20px 0;
  }

  .elegir {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
  }

  .elegir:hover {
    background-color: #0056b3;
  }

  #puntaje {
    font-size: 16px;
    color: #555;
  }
  .resultado {
    margin-top: 20px;
    text-align: center;
}
